<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <title>tour4int</title>
</head>
<body>
  <header>
    <h2>Tour4int</h2>

    <ul>
      <li><a href="#">로그인</a></li>
      <li><a href="category/test">데이터</a></li>
    </ul>
  </header>
  <main>
    <div id="connect-js">scripts.js 연결 : <span>OFF</span></div>
  </main>
</body>
</html>