{% extends "base.html" %}
{% block content %}
<div class="index-wrap">
  <div class="wrap__line">
    <div class="itemlist">
      <div class="areabox"></div>
      <div class="areabox"></div>
      <div class="areabox"></div>
      <div class="areabox"></div>
      <div class="areabox"></div>
    </div>
  </div>
  <div class="wrap__line">
    <div class="itemlist">
      <div class="eventbox"></div>
      <div class="eventbox"></div>
      <div class="eventbox"></div>
    </div>
  </div>
</div>
{% endblock content %}