{% extends "base.html" %}
{% load static %}

{% block body_class %}local-page{% endblock %}

{% block content %}
<div class='wrap'> 
   <!-- tourList -->
  <div class='tourList'>
    <div class='tourList_top'>
      <h2>관광지 추천</h2>
      <a href='/place/local/{{areacode}}/list?tab=tour' class="view-all-button">
        <span class="button-text">전체보기</span>
        <span class="button-icon">→</span>
      </a>
    </div>
    <div class='list'>
      {% for tour in tour_list %}
      <a href='/place/local/{{areacode}}/view/{{tour.place_id}}'>
        <div class='item'>
          {% if tour.thumb_img != '' %}
          <div class='photo'><img src="{{tour.thumb_img}}"></div>
          {% else %}
          <div class='photo'><img src="{% static "images/no-image.jpg" %}"></div>
          {% endif %}
          <div class='subject'>
            <span class='slideContent_local'>{{tour.sigungu_code.name}}</span>
            {{tour.title}}</div>
          <div class='tag'>
            {{tour.address}}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

<!-- //tourList -->
  
  <!-- festivalList -->
  <div class='festivalList'>
    <div class='festivalList_top'>
    <h2>축제/행사 추천</h2>
    <a href='/place/local/{{areacode}}/list?tab=festival' class="view-all-button">
      <span class="button-text">전체보기</span>
      <span class="button-icon">→</span>
    </a>
    </div>
      <div class='slide'>
        {% for event in event_list %}
        <div class='slideItem'>
          <a href='/place/local/{{areacode}}/view/{{event.place_id}}'>
            <div class='slidePhoto'>
              <img src="{{event.thumb_img}}">
              </div>
              <div class='slideContent'>
                <span class='slideContent_local'>{{event.sigungu_code.name}}</span>
              <span class='slideContent_title'>{{event.title}}</span>
              <div class='festivalTag'>
                {{event.start_time}} - {{event.end_time}}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
  </div>  <!-- //festivalList -->
</div> <!-- //wrap -->
{% endblock content %}