{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='wrap'> 
   <!-- tourList -->
  <div class='tourList'>
    <h2>관광지 추천 리스트</h2>
    <div>areacode : {{ areacode }}</div>

    <ul class='list'>

      <li class='item'>
        <a href='/place/{{areacode}}/view/35788'>
          <div class='photo'><img src="{% static 'images/test-image/test333.jpg' %}"></div>
          <div class='subject'>
            <span class='subjectTitle'>여기, 인천의 작지만 위대한 책방들</span>
          </div>
          <div class='tag'>
            #인천책방 #독립서점 #인천여행 #텍스트ힵ #인천책방	 
          </div>
        </a>
      </li>
      <li class='item'>
        <a href='#'>
          <div class='photo'><img src="{% static 'images/test-image/test.do' %}"></div>
          <div class='subject'>
            <span class='subjectTitle'>여기, 인천의 작지만 위대한 책방들</span>
          </div>
          <div class='tag'>
            #인천책방 #독립서점 #인천여행 #텍스트ힵ #인천책방	 
          </div>
        </a>
      </li>
      <li class='item'>
        <a href='#'>
          <div class='photo'><img src="{% static 'images/test-image/test.do' %}"></div>
          <div class='subject'>
            <span class='subjectTitle'>여기, 인천의 작지만 위대한 책방들</span>
          </div>
          <div class='tag'>
            #인천책방 #독립서점 #인천여행 #텍스트ힵ #인천책방	 
          </div>
        </a>
      </li>
      <li class='item'>
        <a href='#'>
          <div class='photo'><img src="{% static 'images/test-image/test.do' %}"></div>
          <div class='subject'>
            <span class='subjectTitle'>여기, 인천의 작지만 위대한 책방들</span>
          </div>
          <div class='tag'>
            #인천책방 #독립서점 #인천여행 #텍스트ힵ #인천책방	 
          </div>
        </a>
      </li>
      


    </ul>
  </div>  <!-- //tourList -->
  
  <!-- festivalList -->
  <div class='festivalList'>
    <h2>축제리스트</h2>
    <div class='relative'>
      <div class='slide'>

        <div class='slideItem'>
          <a href='#'>
              <div class='slidePhoto'>
              <img src="{% static 'images/test-image/test2.jpg/' %}">
              </div>
            <div class='slideContent'>
              <span class='slideContent_local'>지역 위치</span>
              <span class='slideContent_title'>페스티벌 제목</span>
              <div class='festivalTag'>
                #음악 #미술 #축제 #블라블라블라
              </div>
            </div>
          </a>
        </div>

        <div class='slideItem'>
          <a href='#'>
              <div class='slidePhoto'>
              <img src="{% static 'images/test-image/test2.jpg/' %}">
              </div>
            <div class='slideContent'>
              <span class='slideContent_local'>지역 위치</span>
              <span class='slideContent_title'>페스티벌 제목</span>
              <div class='festivalTag'>
                #음악 #미술 #축제 #블라블라블라
              </div>
            </div>
          </a>
        </div>

        <div class='slideItem'>
          <a href='#'>
              <div class='slidePhoto'>
              <img src="{% static 'images/test-image/test2.jpg/' %}">
              </div>
            <div class='slideContent'>
              <span class='slideContent_local'>지역 위치</span>
              <span class='slideContent_title'>페스티벌 제목</span>
              <div class='festivalTag'>
                #음악 #미술 #축제 #블라블라블라
              </div>
            </div>
          </a>
        </div>

        <div class='slideItem'>
          <a href='#'>
              <div class='slidePhoto'>
              <img src="{% static 'images/test-image/test2.jpg/' %}">
              </div>
            <div class='slideContent'>
              <span class='slideContent_local'>지역 위치</span>
              <span class='slideContent_title'>페스티벌 제목</span>
              <div class='festivalTag'>
                #음악 #미술 #축제 #블라블라블라
              </div>
            </div>
          </a>
        </div>

      </div> <!-- //slide -->
    </div> <!-- //relative -->
  </div>  <!-- //festivalList -->
</div> <!-- //wrap -->
{% endblock content %}