{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='wrap'> 
   <!-- tourList -->
  <div class='tourList'>
    <h2>관광지 추천 리스트</h2>
    <div class='all_list'>
      <a href='/place/local/{{areacode}}/list'>목록</a>
    </div>

    <ul class='list'>
      {% for tour in tour_list %}
      <li class='item'>
        <a href='/place/local/{{areacode}}/view/{{tour.place_id}}'>
          {% if tour.thumb_img != '' %}
          <div class='photo'><img src="{{tour.thumb_img}}"></div>
          {% else %}
          <div class='photo'><img src="{% static "images/no-image.jpg" %}"></div>
          {% endif %}
          <div class='subject'>
            <a href='/place/local/{{areacode}}/view/{{tour.place_id}}' class='subjectTitle'>{{tour.title}}</a>
          </div>
          <div class='tag'>
            {{tour.address}}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

<!-- //tourList -->
  
  <!-- festivalList -->
  <div class='festivalList'>
    <h2>축제리스트</h2>
    <div class='all_list'>
      <a href='/place/local/{{areacode}}/list'>목록</a>
    </div>
      <div class='slide'>
        {% for event in event_list %}
        <div class='slideItem'>
          <a href='/place/local/{{areacode}}/view/{{event.place_id}}'>
            <div class='slidePhoto'>
              <img src="{{event.thumb_img}}">
              </div>
              <div class='slideContent'>
                <span class='slideContent_local'>{{event.sigungu_code.name}}</span>
              <span class='slideContent_title'>{{event.title}}</span>
              <div class='festivalTag'>
                {{event.start_time}} - {{event.end_time}}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
  </div>  <!-- //festivalList -->
</div> <!-- //wrap -->
{% endblock content %}