{% extends "base.html" %}
{% load static %}
{% block content %}
<article class='wrap'>

  <div class='view_wrap'>

    <div class='view_header'>
      <h2 class='subject'>상세페이지</h2>
      <div class='location'>
        <ul class='list'>
          <li>
            <strong class='title'>주소</strong>
            <sapn class='text'>인천 계양구 계양문화로 7 문화빌딩 2층 심장박물관</sapn>
          </li>
          <li>
            <strong class='title'>전화번호</strong>
            <sapn class='text'>032-546-9501~2</sapn>
          </li>
        </ul>
      </div>
    </div>

    <div class='info'>
      <button>좋아요</button>
      <span>조회 0</span>
      <span>등록일 | 2024-12-05</span>
    </div>

    <div class='view_photos'>
      <div><img src="{%static 'images/test3.do'%}"></div>
    </div>

    <div class='view_tap'>
      <a href="#intro" class='link active'>
        <span>소개</span>
      </a>
      <a href="#guide" class='link'>
        <span>이용정보</span>
      </a>
      <a href="#tour_list" class='link'>
        <span>주변관광지</span>
      </a>
    </div>

    <div id='intro'>
      <div class='cont_wrap'>
        <p>심장을 이해하고 경험하고 생각하는 공간인 심장박물관으로 (재)우촌심뇌혈관연구재단에서 운영하는 국내 유일의 심장 관련된 박물관이자 의학 전문박물관이다. 심장과 심장병에 대해 알아보고 다양한 체험할 수 있으며, 의료기기의 발달과 심장 치료의 역사, 그리고 뇌혈관 질환과 관련하여 전문적인 지식을 알아볼 수 있다.</p>
      </div>
    </div>

    <div id='guide' class='section'>
      <h3>이용정보</h3>
      <table class='table'>
        <caption>
          "이용정보로  홈페이지주소, 전화번호, 주요 시설 및 전시관 안내, 이용시간, 휴뮤일, 입장료/이용료, 체험프로그램, 화장실유무, 주차유무, 외국어안내서비스, 특이사항 정보안내"
        </caption>
        <colgroup>
          <col style='width: 230px;'>
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th scope='row'>이용안내</th>
            <td>내용 테스트</td>
          </tr>
          <tr>
            <th scope='row'>이용안내</th>
            <td>내용 테스트</td>
          </tr>
          <tr>
            <th scope='row'>이용안내</th>
            <td>내용 테스트</td>
          </tr>
          <tr>
            <th scope='row'>이용안내</th>
            <td>내용 테스트</td>
          </tr>
          <tr>
            <th scope='row'>이용안내</th>
            <td>내용 테스트</td>
          </tr>
          <tr>
            <th scope='row'>이용안내</th>
            <td>내용 테스트</td>
          </tr>
          <tr>
            <th scope='row'>이용안내</th>
            <td>내용 테스트</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='section'>
      <h3>무장애관광 정보</h3>
      <table class='table'>
        <colgroup>
          <col style='width: 230px;'>
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th scope='row'>출입통로</th>
            <td>주출입구 휠체어 통과 가능 (수동문)</td>
          </tr>
          <tr>
            <th scope='row'>엘리베이터</th>
            <td>있음(휠체어 2대 탑승 가능)</td>
          </tr>
          <tr>
            <th scope='row'>화장실</th>
            <td>있음(박물관 내부, 남녀분리)</td>
          </tr>
          <tr>
            <th scope='row'>보조견동반</th>
            <td>가능</td>
          </tr>
          <tr>
            <th scope='row'>오디오가이드</th>
            <td>오디오가이드 있음(QR코드로 홈페이지 접속 시 동영상 제공)</td>
          </tr>
          <tr>
            <th scope='row'>점자홍보물 및 점자표지판</th>
            <td>있음(로비, 점자 리플렛 있음)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id='tour_list' class='section'>
      <h3>주변 관광지</h3>
      <div class='map_wrap'>
        <div id='map' class='map'></div>
        <div class='near_map'>
          <div class='near_tap'>
            <a href='#' class='btn'>
              <span>주변 관광지</span>
            </a>
            <a href='#' class='btn'>
              <span>주변 음식점</span>
            </a>
            <a href='#' class='btn'>
              <span>주변 숙박업소</span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>  <!-- //view_wrap -->

</article>


{% endblock content %}  